
* {
    -fx-font-family: 'Arial', sans-serif;
}

AnchorPane {
    -fx-background-color: #2e2e2e;
}


Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

Label[nameLabel], Label[descrpLabel], Label[systemLabel], Label[layoutX="405.0"] {
    -fx-font-size: 13px;
}

Label[layoutX="35.0"] {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


Separator {
    -fx-background-color: #505050;
}


TextField, TextArea, ChoiceBox {
    -fx-background-color: #3e3e3e;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-border-color: #505050;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.text-area .content{
    -fx-background-color: #3e3e3e;
}


TableView {
    -fx-background-color: #3e3e3e;
    -fx-text-fill: #ffffff;
    -fx-border-color: #505050;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

TableColumn {
    -fx-text-fill: #ffffff;
}


Button {
    -fx-background-color: #5c5c5c;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #777777;
}

Button:pressed {
    -fx-background-color: #444444;
}


Button#addButton, Button#updateButton, Button#removeButton, Button#backButton, Button#stockManagementButton {
    -fx-background-color: #4CAF50;
}

Button#addButton:hover, Button#updateButton:hover, Button#removeButton:hover, Button#backButton:hover, Button#stockManagementButton:hover {
    -fx-background-color: #45A049;
}

Button#addButton:pressed, Button#updateButton:pressed, Button#removeButton:pressed, Button#backButton:pressed, Button#stockManagementButton:pressed {
    -fx-background-color: #388E3C;
}
